.profileDetailsShare {
  margin-top: 80px;
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.popupContainer {
  height: 350px;
  background-color: white;
  width: 300px;
  margin-bottom: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popupContainer > img {
  border: 1px solid #0000001a;
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

.popupContainer > h5 {
  margin-top: 30px;
  font-size: 18px;
}
